{% extends "base.html" %}

{% block start %}
<div class="columns is-centered">
    <div class="column is-half-tablet is-one-third-desktop">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    Hello!! Sign Up today!!
                </p>
            </header>

            {% if messages %}
                <div class="alert alert-primary" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            
            <div class="card-content">
                <div class="content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Enter your username" name="username" required>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input" type="password" placeholder="Enter your password" name="password" required>
                            </div>
                        </div>

                        <p>
                            Already a user? <a href="/login">Login here</a> 
                        </p>

                        <div class="field">
                            <div class="control">
                                <button class="button is-primary">SignUp</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock start %}
