{% extends "base.html" %}

{% block start %}
<div class="container mt-5">
    <form class="box" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="title is-4 has-text-centered">Add New Record</h2>
        <div class="field">
            <label class="label">Patient Name</label>
            <div class="control">
                <input type="text" class="input" name="patient_name" placeholder="Enter patient name" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                <input type="date" class="input" name="date" required>
            </div>
        </div>
        <div class="field">
            <label class="label">Upload X-ray image</label>
            <div class="control">
                <input type="file" class="input" name="image" required>
            </div>
        </div>
        <div class="control">
            <button class="button is-success is-fullwidth">Make Predictions</button>
        </div>
    </form>

    <!-- Display previously stored records -->
    <table class="table is-fullwidth is-striped mt-5">
        <thead>
            <tr>
                <th>#</th>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Image</th>
                <th>Predictions</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ record.patient_name }}</td>
                    <td>{{ record.date }}</td>
                    <td>
                        <figure class="image is-128x128">
                            <img src="/media/{{ record.image }}" style="height: 200px">
                        </figure>
                    </td>
                    <td>{{ record.prediction }}</td>
                    <td>
                        <form method="POST" action="{% url 'delete_record' record.id %}">
                            {% csrf_token %}
                            <button class="button is-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="has-text-centered">No records found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock start %}
